*{
    padding: 0;
    margin: 0;
}

:root{
    --background: rgb(224, 236, 238);
    --hover:rgb(230, 240, 241);
    --titles: #1a202c;
    --span: #234E52;
    --h3: #718096;
    --borderContainer: rgb(210, 230, 231);
}

@keyframes bouce{
    0%, 20%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background);
}

/* === MENU DESKTOP/MOBILE ===*/


a{
    text-decoration: none;
    color:var(--titles);
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 0.2px solid var(--background);
}

#header > h1:hover{
    animation: bouce 1s;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: 0.8rem;
}

#btn-mobile {
    display: none;
}

#nav {
    margin-right: 16%;
}

header h1{
    margin-left: 16%;
}


/*-----------------*/

.visited:hover{
    transition: background-color 600ms;
    background: var(--hover);
    border-radius: 5px;    
}

span{
    color: var(--span);
    margin-left: -4px;
}

.home{
    width: 65%;
    margin: auto;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.picture img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid var(--span);
    padding: 6px;

}

.description{
    margin-left: 40px;
    margin-bottom: 30px;
}

.description h3{
    font-size: 22px;
    color: var(--h3);
}

.description a{
    font-size: 22px;
    color: var(--span);
}

.description p{
    font-size: 30px;
    font-weight: 700;
    color: var(--titles);
}

.description span{
    margin-left: 1px;
}

.navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;    
    align-content: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation a img{
    height: 30px;
}

.navigation a img:hover{
    height: 35px;
    transition: .3s;
    margin-right: auto;
    margin-left: auto;
}

/*=== SOBRE ===*/

.containerIntro{
    width: 70%;
    margin: auto;
    padding: 80px;
}

.containerIntro h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--titles);
    line-height: 1;
}

.sobre{
    background-color:white;
    width: 100%;    
}

.containerAbout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 65%;
    margin: auto;
    padding: 40px;
    padding-top: 45px;
}

.containerDescription{
    border: 0.5px solid var(--borderContainer);
    border-radius: 10px;  
}

.pictureAbout img{
    margin-right: 40px;
    height: 300px;
    border-radius: 10px;
}

.navigationAbout img{
    width: 10px;
}

.descriptionAbout{
    border-bottom: 0.5px solid var(--borderContainer);
    width: 90%;
    margin: auto;
}

.descriptionAbout:last-child{
    border: none;
}

.descriptionAbout h2{
    color:var(--titles);
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 28px;
}

.descriptionAbout img{
    width: 30px;
}

.descriptionAbout p{
    text-align: justify;
    margin: auto;
}

.navigationAbout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 14px;
}

.navigationAbout a{
    margin-right: 10px;
}

.navigationAbout a img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

/*=== PORTFOLIO ===*/

.portfolio{
    background-color:white;
    width: 100%;    
}

.containerAboutPortfolio{
    padding: 45px 40px 0 40px; 
}

.containerAboutPortfolio:last-child{
    padding-bottom: 40px;
}

.containerDescriptionPortfolio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: dense;
    padding: 20px;
    width: 67%;
    margin: auto;
    border: 0.5px solid var(--borderContainer);
    border-radius: 10px;
}

.containerDescriptionPortfolio:hover{
    animation: bouce 1s;
}

.picturePage img{
    height:250px;
    width: 500px;
    margin: auto;
    border: 0.5px solid var(--borderContainer);
    border-radius: 10px;
}


.descriptionAboutPortfolio{
    padding-left: 20px;
    margin: auto;
}

.descriptionAboutPortfolio h2{
    color:var(--titles);
    text-align: left;
    padding-bottom: 10px;
    font-size: 28px;
}

.descriptionAboutPortfolio p{
    text-align: left;
    margin: auto;
}

/* === REVERSE ===*/


.containerDescriptionPortfolio.reverse{
    grid-template-columns: 2fr 1fr;    
}

.descriptionAboutPortfolio.reverse{
    padding-right: 20px;
    grid-row: 1;
    grid-column: 1;
    padding-left: 0;
}

.descriptionAboutPortfolio.reverse h2{
    text-align: right;
}

.descriptionAboutPortfolio.reverse p{
    text-align: right;
}

.picturePage.reverse{
    grid-column: 2;
    margin-left: auto;
}

/* === CONTATO ===*/

.contato{
    width: 100%;
    background-color:white;
    height: 100%;
}

.containeraboutContato{
    width: 65%;
    margin: auto;
    padding-top: 40px;
}

/* === RESPONSIVO ===*/

@media screen and (max-width:1024px){
    
    #nav {
        margin-right: 2%;
    }
    
    header h1{
        margin-left: 2%;
    }

    .home{
        width: 95%;
    }

    .containerIntro{
        width: 100%;
        margin-left: 0;
        padding: 80px 0 80px 0;
    }
           
    .containerAbout{
        width: 90%;
        margin-left: 0;
    }

    .containerIntroPortfolio{
        width: 100%;
        margin-left: 0;
        padding: 80px 0 80px 0;
    }
    
    .containerDescriptionPortfolio{
        width: 100%;
        margin-left: -20px;
    }

    .containeraboutContato{
        width: 92%;
    }
}

@media screen and (max-width:768px){
    
    .home{
        margin-top: 120px;
    }

    .picture img{
        height: 180px;
        width: 180px;
    }

    .description h3{
        font-size: 20px;
    }
    
    .description a{
        font-size: 20px;
    }
    
    .description p{
        font-size: 25px;
    }

    .navigation{
        width: 75%;
    }

    .navigationAbout{
        margin-left: 7px;
    }

    .options a{
        margin-left: 10px;
    }
           
    .containerAbout{
        margin-left: -20px;
    }

    .pictureAbout img{
        height: 250px;
        margin-right: 30px;
    }

    .picturePage img{
        width: 370px;
    }
}

@media (max-width: 620px){

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #fff;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;        
        overflow-y: hidden;
        
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto; /* Se tiver mais itens no menu ele aumenta automaticamente de acordo com a quantidade de itens.*/
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--background);
    }

    
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        color: var(--titles);
        border-top: 2px solid;
        width: 20px;
        display: block;
    }

    #hamburger::after, #hamburger::before{
        content: " ";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media screen and (max-width: 426px){

    .containerIntro{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .containerIntro h1{
        font-size: 30px;
    }

    .home{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .description{
        margin: -12px auto;
    }

    .picture{
        margin-top: -90px;
    }

    .picture img{
        margin-bottom: 25px;
        height: 150px;
        width: 150px;
    }

    .navigation{
        width: 100%;
    }
    
    .containerAbout{
        display: block;
        margin-left: -6px;
        box-sizing: border-box;

    }

    .pictureAbout{
        text-align: center;
    }

    .pictureAbout img{
        height: 350px;
        border-radius: 10px;
        margin-right: auto;
    }    
    .navigationAbout{
        margin-bottom: 30px;
        width: 115%;;
    }   

    .containerDescription{
        width: 118%;
    }

    .containerDescriptionPortfolio{
        display: block;
    }

    .picturePage img{
        width: 100%;
        height: 180px
    }

    .descriptionAboutPortfolio{
        padding: 0;
    }

    .descriptionAboutPortfolio h2{
        text-align: center;
        font-size: 22px;
        padding-top: 10px;
    }

    .descriptionAboutPortfolio p{
        text-align: justify;
        font-size: 14px;
    }

    .descriptionAboutPortfolio.reverse{
        padding: 0;
    }

    .descriptionAboutPortfolio.reverse h2{
        text-align: center;
        font-size: 22px;
        padding-top: 10px;
    }

    .descriptionAboutPortfolio.reverse p{
        text-align: justify;
        font-size: 14px;
    }
}

@media screen and (max-width: 376px){

    .navigationAbout{
        margin-bottom: 30px;
    }

    .containerIntro{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }    
    
    .containerAbout{
        display: block;
        margin-right: 10px;
        padding: 30px;
        padding-top: 45px;
    }

    .pictureAbout{
        text-align: center;
    }

    .pictureAbout img{
        height: 320px;
        border-radius: 10px;
    }       
}

@media screen and (max-width: 321px){

    .pictureAbout img{
        height: 265px;
    }       
}