*{
    padding: 0;
    margin: 0;
}

@keyframes bouce{
    0%, 20%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(224, 236, 238);
}

header{
    background: white;
    padding: 14px;
    top: 0;
    position: sticky;
    border: 0.5px solid rgb(210, 230, 231);
}

.logo a{
    text-decoration: none;
    color:#1a202c;
}

.logo:hover{
    animation: bouce 1s;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    margin: auto;    
    width: 65%;

}

.visited:hover{
    transition: background-color 600ms;
    background: rgb(230, 240, 241);
    border-radius: 5px;    
}

span{
    color: #234E52;
    margin-left: -4px;
}

.options{    
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;    
}

.options a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    padding: 10px;;        
}

.home{
    width: 65%;
    margin: auto;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.picture img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid #234E52;
    padding: 6px;

}

.description{
    margin-left: 40px;
}

.description h3{
    font-size: 22px;
    color: #718096;
}

.description a{
    font-size: 22px;
    color: #234E52;
}

.description p{
    font-size: 30px;
    font-weight: 700;
    color: #1a202c;
}

.description span{
    margin-left: 1px;
}

.navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 54%;
}

.navigation a{
    margin-right: 30px;
}

.navigation a img{
    width: 30px;
    margin-top: 10px;
}


/*=== SOBRE ===*/

.containerIntro{
    width: 70%;
    margin: auto;
    padding: 80px;
}

.containerIntro h1{
    font-size: 50px;
    font-weight: 700;
    color: #1a202c;
    line-height: 1;
}

.sobre{
    background-color:white;
    width: 100%;    
}

.containerAbout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 65%;
    margin: auto;
    padding: 40px;
    padding-top: 45px;
}

.containerDescription{
    border: 0.5px solid rgb(210, 230, 231);
    border-radius: 10px;  
}

.pictureAbout img{
    margin-right: 40px;
    height: 300px;
    border-radius: 10px;
}

.navigationAbout img{
    width: 10px;
}

.descriptionAbout{
    border-bottom: 0.5px solid rgb(210, 230, 231);
    width: 90%;
    margin: auto;
}

.descriptionAbout:last-child{
    border: none;
}

.descriptionAbout h2{
    color:#1a202c;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 28px;
}

.descriptionAbout img{
    width: 30px;
}

.descriptionAbout p{
    text-align: justify;
    margin: auto;
}

.navigationAbout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 14px;
}

.navigationAbout a{
    margin-right: 10px;
}

.navigationAbout a img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

/*=== PORTFOLIO ===*/

.portfolio{
    background-color:white;
    width: 100%;    
}

.containerAboutPortfolio{
    padding: 45px 40px 0 40px;
}

.containerAboutPortfolio:last-child{
    padding-bottom: 40px;
}

.containerDescriptionPortfolio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: dense;
    padding: 20px;
    width: 67%;
    margin: auto;
    border: 0.5px solid rgb(210, 230, 231);
    border-radius: 10px;
}

.containerDescriptionPortfolio:hover{
    animation: bouce 1s;
}

.picturePage img{
    height:250px;
    width: 500px;
    margin: auto;
    border: 0.5px solid rgb(210, 230, 231);
    border-radius: 10px;
}


.descriptionAboutPortfolio{
    padding-left: 20px;
    margin: auto;
}

.descriptionAboutPortfolio h2{
    color:#1a202c;
    text-align: left;
    padding-bottom: 10px;
    font-size: 28px;
}

.descriptionAboutPortfolio p{
    text-align: left;
    margin: auto;
}

/* === REVERSE ===*/


.containerDescriptionPortfolio.reverse{
    grid-template-columns: 2fr 1fr;    
}

.descriptionAboutPortfolio.reverse{
    padding-right: 20px;
    grid-row: 1;
    grid-column: 1;
    padding-left: 0;
}

.descriptionAboutPortfolio.reverse h2{
    text-align: right;
}

.descriptionAboutPortfolio.reverse p{
    text-align: right;
}

.picturePage.reverse{
    grid-column: 2;
    margin-left: auto;
}

/* === CONTATO ===*/

.contato{
    width: 100%;
    background-color:white;
    height: 100%;
}

.containeraboutContato{
    width: 65%;
    margin: auto;
    padding-top: 40px;
}

/* === RESPONSIVO ===*/

@media screen and (max-width:1024px){
    
    .navbar{
        width: 95%;
    }

    .home{
        width: 95%;
    }

    .containerIntro{
        width: 100%;
        margin-left: 0;
        padding: 80px 0 80px 0;
    }
           
    .containerAbout{
        width: 92%;
    }

    .containerIntroPortfolio{
        width: 100%;
        margin-left: 0;
        padding: 80px 0 80px 0;
    }
    
    .containerDescriptionPortfolio{
        width: 100%;
        margin-left: -20px;
    }

    .containeraboutContato{
        width: 92%;
    }
}

@media screen and (max-width:768px){
    
    .navbar{
        grid-template-columns: 1fr 3fr;
    }

    .home{
        margin-top: 120px;
    }

    .picture img{
        height: 180px;
        width: 180px;
    }

    .description h3{
        font-size: 20px;
    }
    
    .description a{
        font-size: 20px;
    }
    
    .description p{
        font-size: 25px;
    }

    .navigation{
        width: 78%;
    }

    .navigationAbout{
        margin-left: 7px;
    }

    .options a{
        margin-left: 10px;
    }
           
    .containerAbout{
        width: 95%;
        margin-left: -20px;
    }

    .pictureAbout img{
        height: 250px;
        margin-right: 30px;
    }

    .picturePage img{
        width: 370px;
    }
}

@media screen and (max-width:425px){
    
    

}